<div class="filter d-flex">
<input type="text" *ngIf="column !== 'createdDate' && check=='service'" [(ngModel)]="serviceFilters.filters[this.column].value" class="form-control">
<input type="text" *ngIf="agentColumn !== 'createdDate' && check=='agent'" [(ngModel)]="agentFilters.filters[this.agentColumn].value" class="form-control">

<!--Filter Par Date Début-->
<!--Cas Du Service-->
<mat-form-field  *ngIf="column == 'createdDate' && check=='service'" appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
</mat-form-field>
<!--Cas D' Agent-->
<mat-form-field *ngIf="agentColumn == 'createdDate' && check=='agent'" appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
</mat-form-field>
<!--Filter Par Date Fin-->

<!--Filter Chip Debut-->
<!--Cas Du Service-->
    <mat-chip-listbox *ngIf="check==='service'" (change)="updateMatchMode($event)" aria-label="Fish selection">
        <mat-chip-option *ngIf="column !== 'price' && column !== 'createdDate'">Start with</mat-chip-option>
        <mat-chip-option *ngIf="column !== 'price' && column !== 'createdDate'">Contains</mat-chip-option>
        <mat-chip-option *ngIf="column !== 'price' && column !== 'createdDate'">Not Contains</mat-chip-option>
        <mat-chip-option *ngIf="column !== 'price' && column !== 'createdDate'">Ends with</mat-chip-option>
        <mat-chip-option *ngIf="column !== 'createdDate'">Equal</mat-chip-option>
        <mat-chip-option *ngIf="column !== 'createdDate'">Not Equal</mat-chip-option>
        <mat-chip-option *ngIf="column == 'createdDate'" class="filterByDate">Filter</mat-chip-option>
    </mat-chip-listbox>
<!--Cas D' Agent-->
    <mat-chip-listbox *ngIf="check==='agent'" (change)="updateMatchMode($event)" aria-label="Fish selection">
        <mat-chip-option *ngIf="agentColumn !== 'status' && agentColumn !== 'createdDate'">Start with</mat-chip-option>
        <mat-chip-option *ngIf="agentColumn !== 'status' && agentColumn !== 'createdDate'">Contains</mat-chip-option>
        <mat-chip-option *ngIf="agentColumn !== 'status' && agentColumn !== 'createdDate'">Not Contains</mat-chip-option>
        <mat-chip-option *ngIf="agentColumn !== 'status' && agentColumn !== 'createdDate'">Ends with</mat-chip-option>
        <mat-chip-option *ngIf="agentColumn !== 'createdDate'">Equal</mat-chip-option>
        <mat-chip-option *ngIf="agentColumn !== 'createdDate'">Not Equal</mat-chip-option>
        <mat-chip-option *ngIf="agentColumn == 'createdDate'" class="filterByDate">Filter</mat-chip-option>
    </mat-chip-listbox>
<!--Filter Chip Fin-->
</div>
