<h2 *ngIf="!serviceToEdit.serviceId && !serviceToDelete" mat-dialog-title>Add Service</h2>
<h2 *ngIf="serviceToEdit.serviceId && !serviceToDelete" mat-dialog-title>Edit Service</h2>

<mat-dialog-content  class="mat-typography">
    <!--Forum Debut-->
    <div class="container">
    <label *ngIf="serviceToEdit" [(ngModel)]="serviceToEdit.name" for="inputName" class="form-label">Name</label>
    <input *ngIf="serviceToEdit" type="text" id="inputName" class="form-control" [(ngModel)]="serviceToEdit.name">

    <label *ngIf="serviceToEdit" [(ngModel)]="serviceToEdit.description" for="inputDesc" class="form-label">Description</label>
    <textarea *ngIf="serviceToEdit" type="text" id="inputDesc" class="form-control" [(ngModel)]="serviceToEdit.description"></textarea>

    <label *ngIf="serviceToEdit" [(ngModel)]="serviceToEdit.price" for="inputPrice" class="form-label">Price</label>
    <input *ngIf="serviceToEdit" type="number" id="inputPrice" class="form-control" [(ngModel)]="serviceToEdit.price">

    <div class="status d-flex">
        <label class="form-label">Status : </label>
        <div class="form-check form-switch">
            <input [(ngModel)]="serviceToEdit.status" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
        </div>
    </div>

    </div>
    <!--Forum Fin-->
</mat-dialog-content>

<!--La Page Du Suppression-->
<mat-dialog-content *ngIf="serviceToDelete">
    <h3 class="areyousure">Are you sure you want to delete <b>{{serviceToEdit.name}}!</b></h3>
</mat-dialog-content>
<!--/La Page Du Suppression-->

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="createService(serviceToEdit)" *ngIf="!serviceToEdit.serviceId && !serviceToDelete" [mat-dialog-close]="true" cdkFocusInitial>Add</button>
    <button mat-button (click)="updateService(serviceToEdit)" [mat-dialog-close]="true" *ngIf="serviceToEdit.serviceId && !serviceToDelete" cdkFocusInitial>Save</button>
</mat-dialog-actions>