<h2 *ngIf="!AgentToEdit.agentId && !agentToDelete" mat-dialog-title>Add Agent</h2>
<h2 *ngIf="AgentToEdit.agentId && !agentToDelete" mat-dialog-title>Edit Agent</h2>
<h2 *ngIf="agentToDelete" mat-dialog-title>Delete Agent</h2>

<mat-dialog-content  *ngIf="!agentToDelete" class="mat-typography">
    <!--Forum Debut-->
<div class="container">

  <label *ngIf="AgentToEdit" [(ngModel)]="AgentToEdit.name" for="inputName" class="form-label">Name</label>
  <input *ngIf="AgentToEdit" [(ngModel)]="AgentToEdit.name" type="text" id="inputName" class="form-control">

  <label *ngIf="AgentToEdit" [(ngModel)]="AgentToEdit.email" for="inputEmail" class="form-label">Email</label>
  <input *ngIf="AgentToEdit" [(ngModel)]="AgentToEdit.email" type="email" id="inputEmail" class="form-control">

  <label *ngIf="AgentToEdit" [(ngModel)]="AgentToEdit.phone" for="inputPhone" class="form-label">Phone</label>
  <input *ngIf="AgentToEdit" [(ngModel)]="AgentToEdit.phone" type="number" id="inputPhone" class="form-control">

  <label *ngIf="AgentToEdit" [(ngModel)]="AgentToEdit.latitude" for="inputRegion" class="form-label">latitude</label>
  <input *ngIf="AgentToEdit" [(ngModel)]="AgentToEdit.latitude" type="number" id="inputLatitude  " class="form-control">

  <label *ngIf="AgentToEdit" [(ngModel)]="AgentToEdit.longitude" for="inputRegion" class="form-label">longitude</label>
  <input *ngIf="AgentToEdit" [(ngModel)]="AgentToEdit.longitude" type="number" id="inputlongitude" class="form-control">

  <label *ngIf="AgentToEdit" [(ngModel)]="AgentToEdit.password" for="inputPassword" class="form-label">Password</label>
  <input *ngIf="AgentToEdit" [(ngModel)]="AgentToEdit.password" type="text" id="inputPassword" class="form-control">

  <div class="status d-flex">
    <label class="form-label">Status : </label>
    <div class="form-check form-switch">
      <input [(ngModel)]="AgentToEdit.status" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
    </div>
  </div>


</div>
    <!--Forum Fin-->
</mat-dialog-content>

<!--La Page Du Suppression-->
<mat-dialog-content *ngIf="agentToDelete">
  <h3 class="areyousure">Are you sure you want to delete <b>{{AgentToEdit.name}}!</b></h3>
</mat-dialog-content>
<!--/La Page Du Suppression-->


<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="createAgent(AgentToEdit)" *ngIf="!AgentToEdit.agentId && !agentToDelete" [mat-dialog-close]="true" cdkFocusInitial>Add</button>
    <button mat-button (click)="deleteAgent(AgentToEdit)" [mat-dialog-close]="true" *ngIf="agentToDelete" cdkFocusInitial>Delete</button>
    <button mat-button (click)="updateAgent(AgentToEdit)" [mat-dialog-close]="true" *ngIf="AgentToEdit.agentId && !agentToDelete" cdkFocusInitial>Save</button>
</mat-dialog-actions>