<div class="sidebar shadow-sm">
    <h4>Main</h4>
    <ul class="sidebar-items">
        <a href="/dashboard">
            <li [ngClass]="{'sidebar-item-active': showdashboard }" class="sidebar-item">
                <fa-icon class="sidebar-icon" [icon]="dashboard"></fa-icon>
                Dashboard
            </li>
        </a>
        <a href="/services">
            <li [ngClass]="{'sidebar-item-active': showservices }" class="sidebar-item">
                <fa-icon class="sidebar-icon" [icon]="service"></fa-icon>
                Services
            </li>
        </a>
        <a href="/agents">
            <li [ngClass]="{'sidebar-item-active': showagents }" class="sidebar-item">
                <fa-icon class="sidebar-icon" [icon]="users"></fa-icon>
                Agents
            </li>
        </a>
        <a href="/intervention">
            <li [ngClass]="{'sidebar-item-active': showintervention }" class="sidebar-item">
                <fa-icon class="sidebar-icon" [icon]="intervention"></fa-icon>
                Intervention
            </li>
        </a>
        <a href="/settings">
            <li class="sidebar-item">
                <fa-icon class="sidebar-icon" [icon]="settings"></fa-icon>
                Settings
            </li>
        </a>

        <a href="/profile">
            <li class="sidebar-item">
                <fa-icon class="sidebar-icon" [icon]="profile"></fa-icon>
                Profile
            </li>
        </a>
        <a href="/chat">
            <li class="sidebar-item">
                <fa-icon class="sidebar-icon" [icon]="chat"></fa-icon>
                Chat
            </li>
        </a>
    </ul>
</div>