            <div class="infocards">
                <app-infocard color="#297fb98c" backgroundColor="#3498db1a" title="Clients" number="2450" progressBg="bg-info"
                    progressWidth="70%" iconType="users"></app-infocard>
                <app-infocard color="#f1c40f" backgroundColor="#f1c40f3a" title="Agents" number="758" progressBg="bg-warning"
                    progressWidth="40%" iconType="agents"></app-infocard>
                <app-infocard color="#2ecc71" backgroundColor="#2ecc7025" title="Invoice" number="3952" progressBg="bg-success"
                    progressWidth="60%" iconType="invoice"></app-infocard>
                <app-infocard color="#2980b9" backgroundColor="#297fb913" title="Villages" number="2545" progressBg=""
                    progressWidth="20%" iconType="village"></app-infocard>
            </div>
            <div class="tables d-flex mt-5 justify-content-between">
                <app-clients class="mx-1"></app-clients>
                <app-agents class="mx-2"></app-agents>
            </div>

   
            







