body {
    background-color: #ecf0f198;
}
a {
    all: unset;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
